
<header class="navbar navbar-default">
	 
			<div class="navbar-inner">
				<div class="container">
					<h5>Scene Near Me</h5>
				  <nav>
							 <ul class="nav navbar-nav pull-left">
								<li><Welcome to Scenes Near Me <span id="users_name"></span></li>
								  
							</ul> 
					</nav>  
					<nav>  
						<ul class="nav nav-pills pull-right">
							<li id='home_signedout'><%= link_to "Home", home_path %></li>
							<li id='home_signedin' style='display: none;'><%= link_to "Home", user_home_path %></li>
							<li id='add_scene' style='display: none;'><%= link_to "Add Scene", add_scene_path %></li>
							<li><%= link_to "Help", help_path %></li>
							<li id="signin"><%= link_to "Sign In", sign_in_path %></li>
							<li id="signout" style="display:none;"> <%= link_to "Sign Out", "#" , id: "signoutlink"  %></li>

						</ul>
					</nav>

				</div>
			</div> 
 
	</header>
	 <script>
$(document).ready(function()
{       
Parse.initialize("qPOsLuiYC9vZAPcz8yYYPdwY5jjnlO05w7mOusu4", "dwKdYKeoPC3cInAmapc2uUiorsuUfzg8kvXmYKLM");
var currentUser = Parse.User.current();

if(currentUser)
{
	Parse.User.current().fetch().then(function(user){
		$('#users_name').text("Welcome "+user.get("first_name")+" " +user.get("last_name"));
	} );
}
 

if (currentUser) {
    // $('#users_name').val("Welcome "+cux/rrentUser.get("first_name")+" " +currentUser.get("last_name"));
    
    // console.log(currentUser);
    $('#signin').hide();
    $('#signout').show();
    $('#home_signedin').show();
      $('#add_scene').show();
    $('#home_signedout').hide();
} else {
     $('#signin').show();
    $('#signout').hide();  
    $('#add_scene').hide();
      $('#home_signedin').hide();
    $('#home_signedout').show();
}
         $('#signoutlink').on('click',function(){
         		Parse.User.logOut();
				$(location).attr('href','/sign_in');
         }) ;	
       
  
      });
    </script>